{extend name="layout/base"}

{block name="right-content"}
<!-- 主体部分 -->
<div class="header"><h1 class="page-title">订单列表</h1></div>

<ul class="breadcrumb">
    <li><a href="index.html">主页</a> <span class="divider">/</span></li>
    <li class="active">订单列表</li>
</ul>

<div class="container-fluid">
	<div class="row-fluid">
		<!-- 按钮 -->
		<div class="btn-toolbar">
			<!-- 绑定页面跳转事件 -->
			<button class="btn btn-primary" onclick="jump()"><i class="icon-pencil"></i> 管理订单</button>
			<button class="btn">Import</button>
			<button class="btn">Export</button>
			<div class="btn-group"></div>
		</div>
		<!-- 列表 -->
		<div class="well">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>订单ID</th>
						<th>商品图片</th>
						<th>商品名称</th>
						<th>会员ID</th>
						<th>商品单价</th>
						<th>数量</th>
						<th>合计</th>
						<th>订单状态</th>
						<th style="width: 26px;"></th>
					</tr>
				</thead>
				<tbody>
					{volist name='orders' id='vo'}
					<tr>
						<td>{$vo.oid}</td>
						<td><img src="{$opic[$vo.opid]}" alt=""></td>
						<td style="width:320px;">{$opname[$vo.opid]}</td>
						<td>{$vo.ouid}</td>
						<td>{$vo.opprice}</td>
						<td>{$vo.onum}</td>
						<td>{$vo.ototal}</td>
						<td>
						{switch name="$vo.ostate" }
                                {case value="1" break="1"}<p style="color: red;">买家已付款</p>{/case}
                                {case value="2"}<p style="color: #FFBF00;">已发货、待收货</p>{/case}
                                {case value="3"}<p style="color: #1FFF00;">交易完毕</p>{/case}
                                {default /}未定义
                        {/switch}
						</td>
						<td>
							<!-- 修改订单路由传参(oid、ouid) -->
							<a href="{:url('admin/Orders/view',['type'=>'edit','id' => $vo.oid,'uid'=>$vo.ouid])}"><i class="icon-pencil" title="修改订单"></i></a>
							<a href="#myModal" onclick="oid({$vo.oid});" role="button" data-toggle="modal"><i class="icon-remove" title="删除订单"></i></a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
		<!-- 翻页按钮 -->
		<div class="pagination">
			<ul>
				<li class="disabled"><a href="#">首页</a></li>
				<li class="disabled"><a href="#">&laquo;</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">&raquo;</a></li>
				<li><a href="#">尾页</a></li>
			</ul>
		</div>
		<!-- 删除确认框 -->
		<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">删除确认</h3>
			</div>
			<div class="modal-body">
				<p class="error-text"><i class="icon-warning-sign modal-icon"></i>你确定你要删除用户吗?</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
				<button onclick="del()" class="btn btn-danger deloid" data-dismiss="modal">删除</button>
			</div>
		</div>
		<!-- 尾部 -->
		<footer>
			<hr>                        
			<p class="pull-right">Copyright statement<a href="#" title="wopop" target="_blank">&ensp;wopop</a></p>
			<p>&copy; wopop <a href="#" target="_blank">Create</a></p>
		</footer>
	</div>
</div>

<!-- 删除订单数据传递方法(订单id) -->
<script type="text/javascript">
	// 删除商品，del()方法的参数为oid()函数传的参数值
	function del(data) {
		window.location.href='/admin/orders/delete?id='+data;
	}
	// 在volist循环中获取当前订单id号，并传递给del()函数的参数值
	function oid(data){
		// 修改deloid类下的onclick属性的值(id传递)
		$('.deloid').attr('onclick', 'del('+data+')');
	}
</script>
<!-- 添加用户页面跳转事件 -->
<script type="text/javascript">
	function jump(){
		window.location.href='#';
	}
</script>
{/block}

