{extend name="layout/base"}

{block name="right-content"}
<div class="header">
    <div class="stats">
        <p class="stat"><span class="number">53</span>访问量</p>
        <p class="stat"><span class="number">27</span>总流量</p>
        <p class="stat"><span class="number">15</span>订单量</p>
    </div>
    <h1 class="page-title">Dashboard</h1>
</div>

<ul class="breadcrumb">
    <li><a href="index.html">主页</a> <span class="divider">/</span></li>
    <li class="active">指示板</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Just a quick note:</strong> Hope you like the theme!
        </div>
    </div>
</div>
{/block}