{extend name="layout/base"}

{block name="content"}
<!-- 产品列表 -->
<script src="/static/index/js/accordion.js" type="text/javascript"></script>
<script src="/static/index/js/lrtk.js" type="text/javascript"></script>

<script type="text/javascript" charset="UTF-8">
//点击效果start(品牌的更多与收起动态)
 function infonav_more_down(index)
 {
  var inHeight = ($("div[class='p_f_name infonav_hidden']").eq(index).find('p').length)*60;//先设置了P的高度，然后计算所有P的高度
  if(inHeight > 60){
   $("div[class='p_f_name infonav_hidden']").eq(index).animate({height:inHeight});
   $(".infonav_more").eq(index).replaceWith('<p class="infonav_more"><a class="more"  onclick="infonav_more_up('+index+');return false;" href="javascript:">收起<em class="pulldown"></em></a></p>');
  }else{
   return false;
  }
 }
 function infonav_more_up(index)
 {
  var infonav_height = 85;
  $("div[class='p_f_name infonav_hidden']").eq(index).animate({height:infonav_height});
  $(".infonav_more").eq(index).replaceWith('<p class="infonav_more"> <a class="more" onclick="infonav_more_down('+index+');return false;" href="javascript:">更多<em class="pullup"></em></a></p>');
 }
   
 function onclick(event) {
  info_more_down();
 return false;
 }
 //点击效果end

//菜单列表动态效果
$(function(){
   $(".nav").accordion({
        //accordion: true,
        speed: 500,
	    closedSign: '+',
		openedSign: '-'
	});
}); 

$(function() { 
	$("#scrollsidebar").fix({
		float : 'left',
		//minStatue : true,
		skin : 'green',	
		durationTime : 600
	});
});
</script>

<!--产品列表样式-->
<div class="Inside_pages">
<!--位置-->
<div id="Filter_style">
	<div class="Location_link">
		<em></em><a href="#">外设天下</a>&ensp;&gt;&ensp;<a href="#">鼠标 🖱 / 键盘 ⌨ / 耳机 🎧</a>
	</div>
	<!--条件筛选样式-->
 	<div class="Filter" id="Filter">
 	<!-- 品牌 -->
  	<div class="Filter_list clearfix">
   		<div class="Filter_title"><span>品牌：</span></div>
   		<div class="Filter_Entire"><a href="#" class="Complete">全部</a></div>
   		<div class="p_f_name infonav_hidden" style="height: 85px;">
   			<p>{volist name="cateList" id="vo"}
				<a href="#" title="{$vo['cname']}">{$vo['cname']}</a>  
   			{/volist}</p>
   			<p>{volist name="cateList" id="vo"}
				<a href="#" title="{$vo['cname']}">{$vo['cname']}</a>  
   			{/volist}</p>
   			<p>{volist name="cateList" id="vo"}
				<a href="#" title="{$vo['cname']}">{$vo['cname']}</a>  
   			{/volist}</p>
   		</div>
   		<p class="infonav_more"> <a class="more" onclick="infonav_more_down(0);return false;" href="javascript:">更多<em class="pullup"></em></a></p>
   	</div>
   	<!-- 产品类型 -->
   	<div class="Filter_list clearfix">
  		<div class="Filter_title"><span>产品分类：</span></div>
  		<div class="Filter_Entire"><a href="#" class="Complete">不限</a></div>
  		<div class="p_f_name">
    	<div class="clearfix"><a href="#">鼠标 🖱</a><a href="#">键盘 ⌨</a><a href="#">耳机 🎧</a></div>
    		<!-- 二级分类 -->
    		<div class="area_style">
      			<div class="Filter_Entire"><a href="#" class="Complete">不限</a></div>
		      	<div class="area_position"><a href="#" class="Filter_btn">新品上市</a><a href="#" class="Filter_btn">热销产品</a><a href="#" class="Filter_btn">促销产品</a></div>
    		</div>
    	</div>
    </div>
   	<!-- 价格区间 -->
   	<div class="Filter_list clearfix">
  		<div class="Filter_title"><span>价格区间：</span></div>
  		<div class="Filter_Entire"><a href="#" class="Complete">不限</a></div>
  		<div class="p_f_name">
    		<div class="clearfix"><a href="#">1-200</a><a href="#">201-500</a><a href="#">501-1000</a><a href="#">1001-1500</a><a href="#">1501-2000</a><a href="#">&gt;2000</a></div>
    	</div>
    </div>
  	</div>
</div>
<!--产品列表样式-->
<div class="scrollsidebar side_green clearfix" id="scrollsidebar"> 
	<div class="show_btn" id="rightArrow"><span></span></div>
	<!--左侧样式-->
	<div class="page_left_style side_content"  >
  		<div class="side_title"><a title="隐藏" class="close_btn"><span></span></a></div>
  		<div class="side_list">
    		<div class="title_name">菜单列表</div>
    		<div class="demo">
    			<ul class="nav">
    				<li class="Menu_Bar"><a href="#" target="_blank">◀&ensp;返回首页</a></li>
    				<li class="Menu_Bar"><a href="#">📞在线客服</a>
    					<ul><li><a href="#">人工客服</a></li>
		                	<li><a href="#">智能客服</a></li></ul>
		            </li>
		         	<li class="Menu_Bar"><a href="#">ℹ实时头条</a></li>
		         	<li class="Menu_Bar"><a href="#">🏷三级分类菜单</a></a>
		              	<ul>
		                   <li><a href="#" target="_blank">未定义</a></li>
		                   <li class="active"><a href="#">未定义</a></li>
		                   <li><a href="#">产品分类</a>
		                        <ul><li><a href="#">鼠标</a></li><li><a href="#">键盘</a></li><li><a href="#">耳机</a></li></ul>
		                   </li>
		               </ul>
		            </li>
		            <li class="Menu_Bar"><a href="#" target="_blank">©关于我们</a></li>
		        </ul>
		    </div>
		</div>
	</div>
	<div class="page_right_style">
		<div class="Sorted">
			<!-- 商品排列方式 -->
			<div class="Sorted_style"><a href="#" class="on">综合</a><a href="#">价格</a><a href="#">销量</a></div>
			<!--页数-->
			<div class="s_Paging">
				<span> 1/12</span><a href="#" class="on">&lt;</a><a href="#">&gt;</a>
			</div>
		</div>
		<div class="p_list  clearfix">
			<ul>
				{volist name="productList" id="vo"}
				<li class="gl-item">
					<em class="icon_special tejia"></em>
					<div class="Borders">
						<div class="img"><a href="{:url('index/Details/index', ['id' => $vo['pid']])}" target="_blank"><img src="{$vo['ppic']}" style="width:220px;height:220px"></a></div>
						<div class="Price"><b>¥{$vo['pprice']}</b><span>限量</span></div>
						<div class="name"><a href="{:url('index/Details/index', ['id' => $vo['pid']])}" target="_blank">{$vo['pname']}</a></div>
						<div class="Shop_name"><a href="#">{$Brand[$vo['pcid']]} 旗舰店</a></div>
						<div class="p-operate">
							<a href="#" class="p-o-btn Collect"><em></em>收藏</a>
							<a href="#" class="p-o-btn shop_cart"><em></em>联系我们</a>
						</div>
					</div>
				</li>
				{/volist}
			</ul>
			<div class="Paging">
				<div class="Pagination">
					<a href="#">首页</a>
					<a href="#" class="pn-prev disabled">&lt;上一页</a>
					<a href="#" class="on">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a>
					<a href="#">下一页&gt;</a><a href="#">尾页</a>	
				</div>
			</div>
		</div>
	</div>
</div>
</div><!-- 产品列表样式 END -->
<!--右侧菜单栏购物车样式-->
<div class="fixedBox">
	<ul class="fixedBoxList">
		<!-- 消息中心 -->
	  	<li class="fixeBoxLi user">
	  		<a href="#"><span class="fixeBoxSpan"></span> <strong>消息中心</strong></a>
	  	</li>
	  	<!-- 购物车 -->
		<li class="fixeBoxLi cart_bd" style="display:block;" id="cartboxs">
			<p class="good_cart">0</p>
			<span class="fixeBoxSpan"></span> <strong>购物车</strong>
			<div class="cartBox">
		   		<div class="bjfff"></div>
		   		<div class="message">购物车内暂无商品，赶紧选购吧</div>
		   	</div>
		</li>
		<!-- 客服 -->
		<li class="fixeBoxLi Service">
			<span class="fixeBoxSpan"></span> <strong>客服</strong>
			<div class="ServiceBox">
	    		<div class="bjfffs"></div>
	    		<dl onclick="javascript:;">
		    		<dt><img src="/static/index/images/Service1.png"></dt>
		       		<dd><strong>在线客服1</strong>
		          		<p class="p1">9:00-22:00</p>
		           		<p class="p2"><a href="#">点击交谈</a></p>
		        	</dd>
		        </dl>
				<dl onclick="javascript:;">
		        	<dt><img src="/static/index/images/Service1.png"></dt>
		        	<dd> <strong>在线客服2</strong>
		        		<p class="p1">9:00-22:00</p>
		        		<p class="p2"><a href="#">点击交谈</a></p>
		        	</dd>
		        </dl>
		    </div>
		</li>
		<!-- 微信 -->
		<li class="fixeBoxLi code cart_bd " style="display:block;" id="cartboxs">
			<span class="fixeBoxSpan"></span><strong>微信</strong>
			<div class="cartBox">
	   			<div class="bjfff"></div>
				<div class="QR_code">
					<p><img src="/static/index/images/qd.jpg" width="180px" height="180px" /></p>
					<p>微信扫一扫，关注我们</p>
				</div>		
			</div>
		</li>
		<!-- 收藏夹 -->
		<li class="fixeBoxLi Home"> <a href="./"> <span class="fixeBoxSpan"></span> <strong>收藏夹</strong></a> </li>
		<!-- 返回顶部 -->
		<li class="fixeBoxLi BackToTop"> <span class="fixeBoxSpan"></span> <strong>返回顶部</strong> </li>
	</ul>
</div>
{/block}