{extend name="layout/base"}

{block name="right-content"}
<div class="header"><h1 class="page-title">修改 商品信息</h1></div>

<ul class="breadcrumb">
    <li><a href="index.html">主页</a> <span class="divider">/</span></li>
    <li><a href="users.html">商品列表</a> <span class="divider">/</span></li>
    <li class="active">修改商品信息</li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">
        <!-- 按钮 -->    
        <div class="btn-toolbar">
            <button class="btn btn-primary" onclick="sub()"><i class="icon-save"></i> 保存</button>
            <!-- 给保存按钮绑定表单提交事件 -->
            <script type="text/javascript">
                function sub(){
                    document.getElementById('tab').submit();
                }
            </script>
            <button class="btn btn-danger" onclick="res()"><i class="icon-undo"></i> 重置</button>
            <!-- 给重置按钮绑定表单清空事件 -->
            <script type="text/javascript">
                function res() {
                    document.getElementById('tab').reset();
                }
            </script>
            <div class="btn-group"></div>
        </div>
        <!-- 表单 -->
        <div class="well">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">商品信息</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home">
                <form id="tab" action="/admin/product" method="post" enctype="multipart/form-data">
					<!-- 添加表单隐藏控件，用于绑定商品ID -->
                	<input type="hidden" name="pid" value="{$pro->pid}">

                    <label>产品名称</label>
                    <input type="text" name="pname" class="input-xlarge" value="{$pro->pname}">
                    <label>产品图片</label>
                    <input id="lefile" type="file" name="ppic" style="display:none">
                    <!-- 创建隐藏控件，用于获取保存原图片路径 -->
                    <input type="hidden" name="pimg" value="{$pro->ppic}">
                    <div class="input-append">
                        <input id="photoCover" class="input-large" type="text" value="{$pro->ppic}" disabled>
                        <a class="btn btn-info" onclick="$('input[id=lefile]').click();"><i class="icon-folder-open"></i> 选择文件</a>
                        <img src="{$pro->ppic}" style="height: 100px; width: 100px; border:1px solid gray; margin: -70px 0 0 10px;">
                    </div>
                    <!-- 给选择文件按钮绑定文件上传事件 -->
                    <script type="text/javascript">
                        $('input[id=lefile]').change(function() {  
                            $('#photoCover').val($(this).val());
                            // console.log($(this).val());
                        });
                    </script>
                    <label>产品价格</label>
                    <div class="input-prepend input-append">
                        <span class="add-on">$</span>
                        <input class="span2" type="text" name="pprice" placeholder="RMB"  value="{$pro->pprice}">
                        <span class="add-on">.00</span>
                    </div>
                    <label>产品介绍</label>
                    <textarea rows="3" class="input-xlarge" name="pcontent" placeholder="请填写内容"><?php echo $pro->pcontent; ?></textarea>
                    <label>产品分类</label>
                    <div class="input-prepend">
                        <label class="radio inline">
                            <input type="radio" name="ptype" value="1" <?php if ($pro->ptype == 1) echo 'checked'; ?>>鼠标</label>
                        <label class="radio inline">
                            <input type="radio" name="ptype" value="2" <?php if ($pro->ptype == 2) echo 'checked'; ?>>键盘</label>
                        <label class="radio inline">
                            <input type="radio" name="ptype" value="3" <?php if ($pro->ptype == 3) echo 'checked'; ?>>耳机</label>
                    </div>
                    <label>所属品牌</label>
                    <select class="input-xlarge" name="pcid">
                        {volist name="cateGory" id="vo"}
                        <!-- $i是嵌套在volist内的自增变量，可直接调用 -->
						<option value="{$i}" <?php if ($pro->pcid == $i) echo 'selected'; ?>>{$vo}</option>
						{/volist}
                    </select>
                    <label>上架状态</label>
                    <select class="input-xlarge" name="state">
                        <option value="1" <?php if ($pro->state == 1) echo 'selected'; ?>>上架</option>
						<option value="0" <?php if ($pro->state == 0) echo 'selected'; ?>>下架</option>
                    </select>
                </form>
                </div>
            </div>
        </div>

        <!-- 尾部 -->
        <footer>
            <hr>                        
            <p class="pull-right">Copyright statement<a href="#" title="wopop" target="_blank">&ensp;wopop</a></p>
            <p>&copy; wopop <a href="#" target="_blank">Create</a></p>
        </footer>
    </div>
</div>
{/block}