<!-- 左侧用户信息 -->
<div class="left_style">
  <div class="menu_style">
    <div class="user_title"><a href="用户中心.html">用户中心</a></div>
    <div class="user_Head">
      <div class="user_portrait">
        <a href="#" title="修改头像" class="btn_link"></a> <img src="/static/index/images/people.png">
        <div class="background_img"></div>
      </div>
      <div class="user_name">
        <p><span class="name"><?php echo session('user_name');?></span><a href="{:url('index/Userinfo/index')}">[修改信息]</a></p>
        <p>访问时间：2016-1-21 10:23</p>
      </div>
    </div>
    <!--菜单列表图层-->
    <div class="sideMen">
      <dl class="accountSideOption1">
        <dt class="transaction_manage"><em class="icon_1"></em>订单管理</dt>
        <dd>
          <ul>
            <li><a href="{:url('index/Order/index')}">我的订单</a></li>
            <li><a href="{:url('index/Address/index')}">收货地址</a></li>
            <li><a href="#">产品预订</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="accountSideOption1">
        <dt class="transaction_manage"><em class="icon_2"></em>会员管理</dt>
        <dd>
          <ul>
            <li><a href="{:url('index/Userinfo/index')}">个人信息</a></li>
            <li><a href="#">我的留言</a></li>
            <li><a href="#">我的评论</a></li>
          </ul>
        </dd>
      </dl>
      <dl class="accountSideOption1">
        <dt class="transaction_manage"><em class="icon_3"></em>账户管理</dt>
        <dd>
          <ul>
            <li><a href="#">账户余额</a></li>
            <li><a href="#">消费记录</a></li>
            <li><a href="#">跟踪包裹</a></li>
            <li><a href="#">资金管理</a></li>
          </ul>
        </dd>
      </dl>
    </div>

    <script>jQuery(".sideMen").slide({titCell:"dt", targetCell:"dd",trigger:"click",defaultIndex:0,effect:"slideDown",delayTime:300,returnDefault:true});</script>
  </div>
</div>
<!-- End-左侧用户信息 -->